*{
margin: 0;
padding: 0;
text-decoration: none
}
html{
font-size:100%
}
body{
background-color:#d0d0d0;
font-family: Verdana, Geneva, sans-serif;
color: black
}
main{
margin: 36px auto 0 auto;
max-width: 80%
}
h2, h3, a{
color:darkcyan
}
header p{
margin-top:2em
}
article{
max-width:90%;
margin:3em 0.5em 0 0;
padding:0.5em 1em;
border:0.2em solid white;
border-radius:0.5em
}
article p{
margin-top:0.5em;
}